{% extends '_base.html' %}

{% block title %}{{ pc.uid }}{% endblock %}

{% block body %}
    <h1 class="my-2 mx-3">Detalle de nube de puntos</h1>
    <div class="my-2 mx-3">
        <div class="my-3">
            {{ pc.name }}
            <a class= "btn btn-primary btn-sm" href="{{ url_for('pc_original', uid=pc.uid) }}">Original</a>
        {% if pc.complete %}
            {% if pc.progress == 100 %}
                <a class= "btn btn-primary btn-sm" href="{{ url_for('pc_segmented', uid=pc.uid) }}">Segmentada</a>
            {% else %}
                Error, No se efectúo la segmentación. PC disponible
            {% endif %}
        </div>
        {% else %}
            {# Progress bar and stages #}
            {{ pc.progress }} %
        {% endif %}
        <ul>
        {% for stage in pc.stages %}
            <li>{{ stage.name }} - {{ icon(stage.state) | safe }}</li>
        {% endfor %}
        </ul>
    </div>
    {% if pc.complete %}
        {% if pc.progress == 100 %}
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary dropdown-toggle btn-lg" data-bs-toggle="dropdown" aria-expanded="false">
                Descargar Resultado
                </button>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('download', uid=pc.uid, dw='final.las') }}">Nube de puntos segmentada (LAS)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('download', uid=pc.uid, dw='split.zip') }}">Nubes de puntos separadas (ZIP)</a></li>
                <li><a class="dropdown-item" href="{{ url_for('download', uid=pc.uid, dw='bounds.kml') }}">Polígonos Envolventes (KML)</a></li>
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}