{% extends '_base.html' %}

{% block title %}{{ pc.uid }}{% endblock %}

{% block body %}
    <h1 class="my-2 mx-3">Point cloud details...</h1>
    <div class="my-2 mx-3">
        {{ pc.name }}
        <a class= "btn btn-primary btn-sm" href="{{ url_for('pc_original', uid=pc.uid) }}">Original</a>
        {% if pc.complete %}
            {% if pc.progress == 100 %}
                <a class= "btn btn-primary btn-sm" href="{{ url_for('pc_segmented', uid=pc.uid) }}">Segmented</a>
            {% else %}
                Error, no segmented PC available!
            {% endif %}
        {% else %}
            {# Progress bar and stages #}
            {{ pc.progress }} %

        {% endif %}
        <ul>
        {% for stage in pc.stages %}
            <li>{{ stage.name }} - {{ icon(stage.state) | safe }}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}