{% extends '_base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1 class="my-2 mx-3">
  Nubes de puntos cargadas
</h1>
<div class="my-4 mx-3">
    {% for pc in pointclouds %}
    <a class="btn btn-outline-success my-1" href="{{ url_for('pc_details', uid=pc.uid) }}">{{ pc.name }} ({{ pc.uid }})</a><br>
    {% else %}
    <h2>No existen nube de puntos</h2>
    {% endfor %}
</div>
<div class="row justify-content-evenly">
  <div class="col-2">
    <a class="btn btn-primary" href="{{ url_for('upload_pointcloud') }}">Cargar</a>
  </div>
  <div class="col-2">
    <a class="btn btn-secondary" href="{{ url_for('delete_all') }}">Eliminar (PELIGRO)</a>
  </div>
</div>
{% endblock %}