{% extends '_base.html' %}

{% block title %}Upload new File{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h1 class="my-2 mx-3">Upload new File</h1>
    <form method=post enctype=multipart/form-data> 
        <label class="mx-3 my-3" for="title">Nombre</label>
        <input type="text" id="title" name="title" required>
        <br>
        <label class="mx-3" for="file">Nube</label>
        <input type="file" id="file" name="file" accept=".las,.pcd" required>
        <input class= "btn btn-primary" type="submit" value="Upload">
    </form>
{% endblock %}